:root {
    --dark-color: #000000ff;
    --light-color: #ffffffff;
    --light-color-trans: #ffffff99;
}

.layout {
    height: 100vh;
    width:  100vw;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.TopBarDiv {
    height: fit-content;
}

.ContentDiv {
    flex: 1;
}

.BotBarDiv {
    width: 100%;
    background-image: linear-gradient(0deg, var(--dark-color), #00000000);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: whilte;
}

.BotBarText {
    margin: 0.5em 0 1em 0;
    color: var(--light-color-trans);
}

.SocMedBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SocMedBox {
    margin: 0 1em 0 1em;
    color: var(--light-color-trans);
}

.MainContent {
    height: 100%;
    width:100%;
    background-image: url('main_bkgnd.jpg');
    background-position: center;
    background-size: cover;
}

.MainWelcomeBox-DT {
    position: absolute;
    left: 5%;
    bottom: 10%;
    text-shadow: 10px 10px 5px  var(--dark-color);
}

.MainWelcomeText-DT {
    color: white;
}

div.MainWelcomeText-DT {
    color: white;
    display: flex;
    flex-direction: row;
}

.MainWelcomeBox-MB {
    position: absolute;
    left: 5%;
    bottom: 10em;
}