:root {
    --dark-color: #000000ff;
    --light-color: #ffffffff;
    --light-color-trans: #ffffff99;
}

.generalLayout {
    height: fit-content;
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.homeLayout {
    height: 100vh;
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.NavBarDiv {
    height: fit-content;
}

.TopBarDiv {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 60px 0.3px rgba(0, 0, 0, 0.7);
}

.ContentDivGeneral {
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
}

.ContentDivHome {
    flex: 1;
}

.BotBarDivGeneral {
    width: 100%;
    text-align: center;
    color: whilte;
}

.BotBarDiv {
    width: 100%;
    background-image: linear-gradient(0deg, var(--dark-color), #00000000);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: whilte;
}


.MainContent {
    height: 100%;
    width: 100%;
    background-image: url('main_bkgnd.jpg');
    background-position: center;
    background-size: cover;
}

.MainWelcomeBox-DT {
    position: absolute;
    left: 5%;
    bottom: 10%;
    text-shadow: 10px 10px 5px var(--dark-color);
}

.MainWelcomeText-DT {
    color: white;
}

div.MainWelcomeText-DT {
    color: white;
    display: flex;
    flex-direction: row;
}

.MainWelcomeBox-MB {
    position: absolute;
    left: 5%;
    bottom: 10em;
}